* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.chonhinh {
  cursor: pointer;
}
.thechung {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #fff;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20vh;
}
.thechon {
  display: flex;
  gap: 10vw;
}
.chonhinh {
  width: 200px;
  height: 100px;
  background-color: yellowgreen;
  font-size: 20px;
}
.desc {
  font-size: 100px;
}
.chonhinh:hover {
  height: 100px;
  width: 200px;
  background: linear-gradient(
    270deg,
    red,
    yellow,
    blue,
    orange,
    green,
    indigo,
    violet
  );
  background-size: 300% 100%;
  animation: moveColor 0.3s linear infinite;
}
@keyframes moveColor {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
